#container {
    height: 500px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}
#play-controls {
    text-align: center;
    width: 100%;
    padding: 5px 0 1em 0;
}
#play-controls * {
    display: inline-block;
    vertical-align: middle;
}
#play-pause-button {
    width: 30px;
    height: 30px;
    background: #fff;
    text-align: center;
    color: #7cb5ec;
    border: none;
    font-size: 15px;
    border-radius: 100px;
    outline: none;
    box-shadow: 1px 1px 5px #999, 0px 0px 1px #ccc;
    cursor: pointer;
}
#play-range {
    margin: 2.5%;
    width: 70%;
}
#play-output {
    font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}
/*### Reset default slider styling ###*/
 input[type=range] {
    -webkit-appearance: none;
    cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
/*### Apply custom thumb styling ###*/

/* Special styling for WebKit/Blink */
 input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 100px;
    background: #fff;
    cursor: pointer;
    margin-top: -11px;
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 5px #999, 0px 0px 1px #ccc;
}
/* All the same stuff for Firefox */
 input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 5px #999, 0px 0px 1px #ccc;
    height: 25px;
    width: 25px;
    border-radius: 100px;
    background: #fff;
    cursor: pointer;
}
/* All the same stuff for IE */
 input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 5px #999, 0px 0px 1px #ccc;
    height: 25x;
    width: 25x;
    border-radius: 100px;
}
/*### Apply custom track styling ###*/

/* webkit */
 input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    background: #cccccc;
    border-radius: 100px;
}
input[type=range]::-moz-range-track {
    height: 5px;
    background: #cccccc;
    border-radius: 100px;
}
input[type=range]::-ms-track {
    height: 5px;
    background: #cccccc;
    border-radius: 100px;
}